* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variabler til farver og fonte*/
:root {
    --Beige: #f5f5dc;
    --gron:#4a6c6f;
    --lilla: #b9aedc;
    --blaa:#c7dad4;
    --lysrod: #eec9b7;

    /*De to skifttyper vi har brugt*/
    --fatface:"Abril Fatface", serif;
    --signika: "Signika", sans-serif;
}
/*Styling af det generale, som baggrundsfarve, størrelse og fonte på overskrifter og tekst*/
body {
    background-color: var(--Beige);
    background-image: url("/Images/Bgpattern.png");
    margin-top: 20px;
      margin-left: 22%;            /* Gør body til flex container */
      justify-content: center;     /* Centrerer vandret */
      align-items: center;         /* Centrerer lodret */
    
}

.tilbage {
    background-color: var(--blaa);
    border: none;
    color: var(--gron);
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s;
    margin-left: 85%;
    margin-bottom: 3%;
}

.midte {
   background-color: rgba(199, 218, 212, 0.6); 
     border-radius: 5%; 
       width: 800px;
    height: 500px;
    padding: 4%;
}

.cirkel2 {
    align-items: center;
    justify-content: center;
    color: var(--gron);               /* Tekstfarve */
    font-size: 20px;
    text-align: center; 
    line-height: 50px;
    padding: 5%;
    background-color: #F5F5F5;
    height: 250px;
    width: 700px;
    border-radius: 5%;
    

  }

  .cirkel-container {
    display: flex;
    margin: 5%;
    margin-left: -8%;
  }

  img {
    height: auto;
    width: 150px; /* Du kan justere størrelsen her */
}

#signup {
    margin-bottom: 10px;
    color: #4a6c6f;
  }

  .tilmeld {
    background-color: #4a6c6f;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

  /* podie siden - sidste side*/

  #podiumContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    font-size: 18px;
  }
  #podiumContainer div {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
