/*Freja
*Variabler til farver og fonte*/
:root {
    --Beige: #f5f5dc;
    --gron:#4a6c6f;
    --lilla: #b9aedc;
    --blaa:#c7dad4;
    --lysrod: #eec9b7;
}
    @font-face {
        font-family: 'Creato Display';
        src: url('./fonts/CreatoDisplay-Regular.woff2') format('woff2'),
             url('./fonts/CreatoDisplay-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
/*Styling af det generale, som baggrundsfarve, størrelse og fonte på overskrifter og tekst*/
body {
    background-color: var(--Beige);
    background-image: url("/Images/Bgpattern.png");
    margin-top: 20px;
    margin-left: 23%;            /* Gør body til flex container */
    justify-content: center;     /* Centrerer vandret */
    align-items: center;         /* Centrerer lodret */
    font-family: 'Creato Display', sans-serif;
    
}
.cirkel {
  width: 700px;
  height: 350px;
  border-radius: 20px;
  background-color: var(--blaa);
  display: flex;
  flex-direction: column; /* ← Denne linje er vigtig */
  align-items: center;
  justify-content: center;
  color: var(--gron);
  font-size: 20px;
  text-align: center;
  margin-top: 140px;
  margin-left: 50px;
  }

  .option-list {
    list-style-type:none;
  }
  
  .option-item {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--gron);
    background-color: var(--blaa);
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: larger;
    margin-left: -20px;
  }
  
  .option-item:hover {
    background-color: var(--gron);
    color: var(--blaa);
  }
  
  .option-item.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  
#next-button {
    margin-top: 10px;
    background-color: #4a6c6f;
    color: white;
    border: 0cm;
    padding: 15px;
    border-radius: 7px;
    margin-left: 125px;
    width: 200px;
    font-size: large;
  }

  .Tilbage{
    margin-top: 10px;
    background-color: #4a6c6f;
    color: white;
    border: 0cm;
    padding: 15px;
    border-radius: 7px;
    margin-left: 150px;
    width: 200px;
    font-size: large;
  }


  .Forside {
      position: absolute;
      top: 22px;
      right: 80px;
      background-color: #4a6c6f;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 6px;
      transition: 0.3s;
      cursor: pointer;
      height: 60px;
      width: 100px;
      font-size: 16px;
    }
  
  .tilbage:hover {
    background-color: #3b5759;
  }

  #question-title {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  #quiz-container {
    display: block;
    width: 100%;
  }
  