/*Variabler til farver og fonte*/
:root {
    --Beige: #f5f5dc;
    --gron:#4a6c6f;
    --lilla: #b9aedc;
    --blaa:#c7dad4;
    --lysrod: #eec9b7;

    /*De to skifttyper vi har brugt*/
    --fatface:"Abril Fatface", serif;
    --signika: "Signika", sans-serif;
}
/*Styling af det generale, som baggrundsfarve, størrelse og fonte på overskrifter og tekst*/
body {
    background-color: var(--Beige);
    background-image: url("/Images/Bgpattern.png");
    margin-top: 20px;
      margin-left: 22%;            /* Gør body til flex container */
      justify-content: center;     /* Centrerer vandret */
      align-items: center;         /* Centrerer lodret */
    
}
.cirkel {
    width: 700px;
    height: 350px;
    border-radius: 10%;
    background-color: var(--blaa);
    display: flex;
    align-items: center;
    justify-content: center; /* Tilføjet for at centrere tekst/indhold */
    color: var(--gron);
    font-size: 20px;
    text-align: center; 
    margin-top: 140px;
    margin-left: 50px;
  }

  .option-list {
    list-style-type:none;
  }
  
  .option-item {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--gron);
    background-color: var(--blaa);
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: larger;
  }
  
  .option-item:hover {
    background-color: var(--gron);
    color: var(--blaa);
  }
  
  .option-item.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  
#next-button {
    margin-top: 10px;
    background-color: var(--blaa);
    border: 0cm;
    padding: 15px;
    border-radius: 15%;
    margin-left: 125px;
    width: 200px;
    font-size: large;
  }

  .Tilbage{
    margin-top: 10px;
    background-color: var(--blaa);
    border: 0cm;
    padding: 15px;
    border-radius: 15%;
    margin-left: 150px;
    width: 200px;
    font-size: large;
  }