
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

/*Variabler til farver og fonte*/
:root {
    --Beige: #f5f5dc;
    --gron:#4a6c6f;
    --lilla: #b9aedc;
    --blaa:#c7dad4;
    --lysrod: #eec9b7;

    /*De to skifttyper vi har brugt*/
    --fatface:"Abril Fatface", serif;
    --signika: "Signika", sans-serif;
}
/* *************************************************************************** */

/*Styling af det generale, som baggrundsfarve, størrelse og fonte på overskrifter og tekst*/
body {
    background-color: var(--Beige);
    margin-top: 50px;
      margin-left: 30%;            /* Gør body til flex container */
      justify-content: center;     /* Centrerer vandret */
      align-items: center;         /* Centrerer lodret */
    
}
.cirkel {
    width: 600px;
    height: 500px;
    border-radius: 50%;         /* Gør den rund */
    background-color: var(--blaa);  /* Blå farve */
    display: flex;           /* Centrerer indholdet */
    align-items: center;
    justify-content: center;
    color: var(--gron);               /* Tekstfarve */
    font-size: 20px;
    text-align: center; 
  }

  .cirkel h1 {
    font-size: 25px;
    margin: 20%;

  }

  .cirkel-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    
    
  }

  .cirkel-container img {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 85%;
    margin-top: -100%;
    height: 30%;
    width: 30%;
  }
  .hormonpspiral { transform: rotate(0deg)   translate(200px) rotate(-0deg); 
margin-: 5px;
}
  .pring { transform: rotate(51deg)  translate(200px) rotate(-51deg); }
  .pplaster { transform: rotate(102deg) translate(200px) rotate(-102deg); }
  .minipille { transform: rotate(153deg) translate(200px) rotate(-153deg); }
  .ppille { transform: rotate(204deg) translate(200px) rotate(-204deg); }
  .pstav { transform: rotate(255deg) translate(200px) rotate(-255deg); }
  .psprojte { transform: rotate(306deg) translate(200px) rotate(-306deg); }


  .quizknap {
    margin-left: 25%;
    background-color: #4A6C6F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;

  }
